<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <h1>Cargar Nueva Pelicula</h1>
    <form action="/movies" method="POST" enctype="multipart/form-data">
        <label for="title">Titulo de la Pelicula</label>
        <input type='text' placeholder="Titulo de la pelicula" id="title" name="title">

        <label for="rating">Rating</label>
        <input type="number" placeholder="rating" id="rating" name="rating">

        <label for="awards">Premios</label>
        <input type='number' placeholder="premios" id="awards" name="awards">

        <label for="length">Duracion</label>
        <input type="number" placeholder="duracion" id="lenght" name="length">

        <label for="release_date">Fecha de estreno</label>
        <input type="date" placeholder="fecha de estreno" id="release_date" name="release_date">
        <a href="/movies"><button type="submit">Enviar</button></a>

    </form>

    <%- include('partials/footer.ejs') %>
</body>
</html>