<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <%- include('partials/header.ejs') %>
    <h1>Peliculas mas recientes</h1>
    <ul>
        <% for (let i = 0; i<nuevas.length;i++) {%>
            <li>
                <a href="/movies/detail/<%= nuevas[i].id %>"><%= nuevas[i].title %></a>
            </li>
        <% } %>
    </ul>
    
    <%- include('partials/footer.ejs') %>
    
</body>
</html>